body {
    margin: 0;
    padding: 0;
    font-family: Brush Script MT;
}

header {
    background-color: #003d34;
    padding: 0 9%;
    overflow: auto;
}

.name, .menu a{
    color: #fff;
    font-size: 30px;
    padding: 14px 24px;
    float: left;
}

.name, .menu {
    width: max-content;
}

.menu {
    float: right;
}

.menu ul {
    margin: 0;
    overflow: auto;
}

.menu a {
    text-decoration: none;
    border-left: 2px solid #Fff;
    transition: 0.4s;
}

.menu a:last-child {
    border-right: 2px solid #fff;
}

.menu a:hover {
    background-color: rgba(0, 179, 73, 0.7);
}

.menu li {
    list-style: none;
}

.wrapper {
    margin: 0 9%;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 35px;
}

table tr:nth-child(1n) {
    background-color: #003d34;
}

table tr:nth-child(2n) {
    background-color: #007939;
}

table tr:first-child td {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

td {
    padding: 10px 14px;
    font-size: 16px;
    color: #fff;
    border-right: 1px solid #fff;
}